* text=auto !eol
boost/boost/lambda/bind.hpp svneol=native#text/plain
boost/boost/lambda/casts.hpp svneol=native#text/plain
boost/boost/lambda/construct.hpp svneol=native#text/plain
boost/boost/lambda/control_structures.hpp svneol=native#text/plain
boost/boost/lambda/core.hpp svneol=native#text/plain
boost/boost/lambda/detail/actions.hpp svneol=native#text/plain
boost/boost/lambda/detail/arity_code.hpp svneol=native#text/plain
boost/boost/lambda/detail/bind_functions.hpp svneol=native#text/plain
boost/boost/lambda/detail/control_structures_impl.hpp svneol=native#text/plain
boost/boost/lambda/detail/function_adaptors.hpp svneol=native#text/plain
boost/boost/lambda/detail/is_instance_of.hpp svneol=native#text/plain
boost/boost/lambda/detail/lambda_config.hpp svneol=native#text/plain
boost/boost/lambda/detail/lambda_functor_base.hpp svneol=native#text/plain
boost/boost/lambda/detail/lambda_functors.hpp svneol=native#text/plain
boost/boost/lambda/detail/lambda_fwd.hpp svneol=native#text/plain
boost/boost/lambda/detail/lambda_traits.hpp svneol=native#text/plain
boost/boost/lambda/detail/make_void.hpp svneol=native#text/plain
boost/boost/lambda/detail/member_ptr.hpp svneol=native#text/plain
boost/boost/lambda/detail/operator_actions.hpp svneol=native#text/plain
boost/boost/lambda/detail/operator_lambda_functor_base.hpp svneol=native#text/plain
boost/boost/lambda/detail/operator_return_type_traits.hpp svneol=native#text/plain
boost/boost/lambda/detail/operators.hpp svneol=native#text/plain
boost/boost/lambda/detail/ret.hpp svneol=native#text/plain
boost/boost/lambda/detail/return_type_traits.hpp svneol=native#text/plain
boost/boost/lambda/detail/select_functions.hpp svneol=native#text/plain
boost/boost/lambda/detail/switch.hpp svneol=native#text/plain
boost/boost/lambda/exceptions.hpp svneol=native#text/plain
boost/boost/lambda/lambda.hpp svneol=native#text/plain
