#  library.confi for Boost.System

#  Copyright Beman Dawes 2007

#  Distributed under the Boost Software License, Version 1.0. (See accompanying
#  file LICENSE_1_0.txt or copy at http://www.boost.org/LICENSE_1_0.txt)

#  Format: directory [filename]
#  directory is relative to the Boost root directory.
#  filename may be a file or directory name; if it is a directory name, the
#  directory is added (if necessary) and updated.
#  If filename is omitted, the entire directory specified is updated.

boost system
boost cerrno.hpp

#end